<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
</head>
<body>

<div ng-controller="FirstController">
    <h4>Add/Substract</h4>
    <button ng-click="add(1)">Add</button>
    <button ng-click="substract(1)">substract</button>
    <h4>Current number: {{number}}</h4>
</div>

<script>
    angular.module('myApp', [])
            .controller('FirstController', ['$scope', function($scope) {
                $scope.number = 0;
                $scope.add = function(num) {
                    $scope.number += num;
                };
                $scope.substract = function(num) {
                    $scope.number -= num;
                }
            }]);
</script>
</body>
</html>